@model EMatrix.ViewModels.Admin.InventoryIndexViewModel

<link rel="stylesheet" href="~/css/admin-panel-inventory-customization.css" asp-append-version="true"/>

@{
    ViewData["Title"] = "Склад";
    ViewData["ActiveTab"] = "Inventory";
}

<div class="container mt-3">
    <!-- Tabs -->
    @await Html.PartialAsync("_AdminPanelTabsPartial")

    <div class="content-wrapper inventory-items">

        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success">@TempData["Success"]</div>
        }

        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger">@TempData["Error"]</div>
        }

        <div class="d-flex mb-3">
            <h2>Складови наличности</h2>
            <a class="btn btn-success ms-auto h-75" asp-action="GetGroupsTable">Режим Групи</a>
        </div>
        <div class="search-bar">
            <input type="text" class="form-control"
                   name="search"
                   asp-for="@Model.SearchTerm"
                   form="search-form"
                   id="search"
                   placeholder="Търси артикул..."/>

            <select asp-for="CategoryFilter" class="form-select"
                    name="category"
                    form="search-form"
                    id="categorySelect">
                <option value="">-- Избери група --</option>
                @foreach (var cat in Model.AvailableCategories)
                {
                    <option value="@cat.Value">@cat.Value - @cat.Text</option>
                }
            </select>
            <select asp-for="SubCategoryFilter" class="form-select"
                    name="subCategory"
                    form="search-form"
                    id="subcategorySelect">
                <option value="">-- Избери подгрупа --</option>
                @foreach (var sub in Model.AvailableSubCategories)
                {
                    <option value="@sub.Value"
                            data-cat="@sub.Value.Substring(0, 2)">@sub.Value - @sub.Text</option>
                }
            </select>
            <button type="submit" form="search-form" class="btn btn-main ms-auto">Търси</button>
            <a href="@Url.Action("GetAllInventoryItems")" class="btn btn-main-outline">Изчисти</a>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Код</th>
                <th>Название</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Опции</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.InventoryItems)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.NameAlias</td>
                    <td class="text-center">@item.Price.ToString("F2") лв.</td>
                    <td class="text-center">@item.Quantity @item.Unit</td>
                    <td>
                        <button
                            type="button"
                            class="btn btn-main-outline me-1 btn-details"
                            data-bs-toggle="modal"
                            data-bs-target="#detailsModal"
                            data-tooltip="Детайли за артикул"
                            onclick="fetchDetails('@item.Id')">
                            <i class="bi bi-info-circle me-2"></i>Детайли
                        </button>
                        <button
                            type="button"
                            class="btn btn-main-outline me-1 btn-update"
                            data-bs-toggle="modal"
                            data-bs-target="#updateModal"
                            data-item-id="@item.Id"
                            data-item-name="@item.NameAlias"
                            data-item-description="@item.DescriptionAlias"
                            data-item-quantity="@item.Quantity"
                            data-item-price="@item.Price"
                            data-tooltip="Промяна на артикул">
                            <i class="bi bi-pencil me-2"></i>Промяна
                        </button>
                        <button class="btn btn-main-outline">Продажби</button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <!-- Pagination -->
        <div class="pagination-container mb-3">
            <form asp-action="GetAllInventoryItems" id="search-form" class="d-flex justify-content-center">
                @await Html.PartialAsync("_PaginationPartial")
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailsModalLabel">Детайли за артикул</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Затвори"></button>
            </div>
            <div class="modal-body row">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="itemId" readonly disabled/>
                        <label for="itemId">Код</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="itemName" readonly disabled/>
                        <label for="itemName">Название (Датабаза)</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="itemNameAlias" readonly disabled/>
                        <label for="itemNameAlias">Название (Публично)</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="itemDescription" readonly disabled/>
                        <label for="itemDescription">Описание (Датабаза)</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="itemDescriptionAlias" readonly disabled/>
                        <label for="itemDescriptionAlias">Описание (Публично)</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="itemPrice" readonly disabled/>
                        <label for="itemPrice">Цена</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="itemQuantity" readonly disabled/>
                        <label for="itemQuantity">Количество</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="itemUnit" readonly disabled/>
                        <label for="itemUnit">Мярка</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="itemCategory" readonly disabled/>
                        <label for="itemCategory">Група</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="itemSubCategory" readonly disabled/>
                        <label for="itemSubCategory">Подгрупа</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Затвори</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form method="post" asp-action="UpdateInventoryItem">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateModalLabel">Промяна на данни за артикул.</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Затвори"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" id="renameMenuItemId"/>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="oldItemNameAlias" readonly disabled/>
                        <label for="oldItemNameAlias">Текущо име (Публично)</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="newItemNameAlias" name="nameAlias"/>
                        <label for="newItemNameAlias">Ново име (Публично)</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="oldItemDescriptionAlias" readonly disabled/>
                        <label for="oldItemDescriptionAlias">Текущо описание (Публично)</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="newItemDescriptionAlias" name="descriptionAlias"/>
                        <label for="newItemDescriptionAlias">Ново описание (Публично)</label>
                    </div>
                    <div class="d-flex gap-2">
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" id="item-quantity" name="quantity" step="any" />
                            <label for="item-quantity">Количество</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" id="item-price" name="price" step="any" />
                            <label for="item-price">Цена</label>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Отказ</button>
                    <button type="submit" class="btn btn-success">Запази</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script>
        function fetchDetails(inventoryItemId) {
            fetch(`/Admin/Inventory/GetInventoryItemDetails/${inventoryItemId}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error("Failed to fetch item details.");
                    }
                    return response.json();
                })
                .then(result => {
                    if (!result.success) {
                        alert(result.message || "Възникна грешка при зареждане на артикула.");
                        return;
                    }

                    const item = result.data;

                    document.getElementById('itemId').value = item.id;
                    document.getElementById('itemName').value = item.name;
                    document.getElementById('itemNameAlias').value = item.nameAlias;
                    document.getElementById('itemDescription').value = item.description;
                    document.getElementById('itemDescriptionAlias').value = item.descriptionAlias;
                    document.getElementById('itemUnit').value = item.unit;
                    document.getElementById('itemPrice').value = parseFloat(item.price).toFixed(2) + " лв.";
                    document.getElementById('itemQuantity').value = item.quantity;
                    document.getElementById('itemCategory').value = item.category;
                    document.getElementById('itemSubCategory').value = item.subCategory;
                })
                .catch(error => console.error("Error fetching blog details:", error));
        }
    </script>
    <script>
        const updateModal = document.getElementById('updateModal');
        updateModal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;
            const id = button.getAttribute('data-item-id');
            const name = button.getAttribute('data-item-name');
            const description = button.getAttribute('data-item-description');
            const quantity = button.getAttribute('data-item-quantity');
            const price = button.getAttribute('data-item-price');

            updateModal.querySelector('#oldItemNameAlias').value = name;
            updateModal.querySelector('#oldItemDescriptionAlias').value = description;
            updateModal.querySelector('#renameMenuItemId').value = id;
            updateModal.querySelector('#item-quantity').value = quantity;
            updateModal.querySelector('#item-price').value = parseFloat(price).toFixed(2);
        });
    </script>
    <script>
        document.getElementById("categorySelect").addEventListener("change", function () {
            var selectedPrefix = this.value;
            var subcategorySelect = document.getElementById("subcategorySelect");

            Array.from(subcategorySelect.options).forEach(opt => {
                opt.hidden = opt.value !== "" && !opt.dataset.cat?.startsWith(selectedPrefix);
            });

            subcategorySelect.value = "";
        });
    </script>
}
