@model EMatrix.Controllers.HomeModel
@{
    var unmatchedRows = ViewData["UnmatchedRows"] as List<string>;
}

@if (unmatchedRows != null && unmatchedRows.Any())
{
    <h3>Unmatched Rows:</h3>
    <ul>
        @foreach (var row in unmatchedRows)
        {
            <li>@row</li>
        }
    </ul>
}
<h1>Групирани артикули</h1>

<ol>
@foreach (var group in Model.GroupDataCodes)
{
    foreach (var item in group.Value.OrderBy(r => r.Value))
    {
        <li>@group.Key - @item.Key - @item.Value</li>
    }
}
</ol>
@foreach (var group in Model.Groups)
{
    <div class="group-container mb-5 p-3 border rounded shadow-sm">
        <h3>@group.Key</h3>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Подгрупа</th>
                <th>Код</th>
                <th>Име</th>
                <th>Описание</th>
                <th>Мярка</th>
                <th>Цена</th>
                <th>Количество</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in group.Value)
            {
                <tr>
                    <td>@item.Подгрупа</td>
                    <td>@item.Код</td>
                    <td>@item.Име</td>
                    <td>@item.Описание</td>
                    <td>@item.Мярка</td>
                    <td>@item.Цена.ToString("0.00")</td>
                    <td>@item.Количество.ToString("0.##")</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}
<style>
    .custom-table {
        table-layout: fixed;
        width: 100%;
    }

    .custom-table th,
    .custom-table td {
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal;
    }

    .custom-table th:nth-child(1), /* Line Number */
    .custom-table td:nth-child(1) {
        width: 5%;
    }

    .custom-table th:nth-child(3), /* Код */
    .custom-table td:nth-child(3) {
        width: 8%;
    }

    .custom-table th:nth-child(6), /* Описание */
    .custom-table td:nth-child(6) {
        width: 25%;
    }

    .custom-table th:nth-child(7), /* Мярка */
    .custom-table td:nth-child(7) {
        width: 7%;
    }

    .custom-table th:nth-child(8), /* Цена */
    .custom-table td:nth-child(8) {
        width: 10%;
    }

    .custom-table th:nth-child(9), /* Количество */
    .custom-table td:nth-child(9) {
        width: 10%;
    }

</style>