@model EMatrix.ViewModels.Admin.MenuAdminViewModel

<link rel="stylesheet" href="~/css/admin-panel-menu-customization.css" asp-append-version="true"/>

@{
    ViewData["ActiveTab"] = "Menu";
    ViewData["Title"] = "Редактор меню";
}
<div class="container mt-3">
    <!-- Tabs -->
    @await Html.PartialAsync("_AdminPanelTabsPartial")

    <div class="content-wrapper menu-index">
        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success">@TempData["Success"]</div>
        }

        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger">@TempData["Error"]</div>
        }

        <div class="menu-header">
            <h2 class="text-center">Съдържание на менюто</h2>
            <a href="#" class="btn btn-outline-secondary me-1 btn-add"
               data-bs-toggle="modal"
               data-bs-target="#addMenuItemModal"
               data-tooltip="Създай нова категория">
                <i class="bi bi-bookmark-plus me-2"></i>Добави категория
            </a>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Категория</th>
                <th>Опции</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.MenuItems)
            {
                <tr>
                    <td>@item.Value</td>
                    <td>
                        <button
                            type="button"
                            class="btn btn-outline-secondary me-1 btn-rename"
                            data-bs-toggle="modal"
                            data-bs-target="#renameModal"
                            data-menu-item-id="@item.Key"
                            data-menu-item-name="@item.Value"
                            data-tooltip="Редактиране име на категория">
                            <i class="bi bi-pencil me-2"></i>Преименуване
                        </button>

                        <a href="@Url.Action("UpdateMenuItemCategories", new { menuItemId = item.Key })"
                           class="btn btn-outline-secondary me-1"
                           data-tooltip="Редактиране на елементи в категория">
                            <i class="bi bi-stack me-2"></i>Редакция
                        </a>

                        <form asp-action="UpdateCategoryImage" method="post" enctype="multipart/form-data" class="d-inline-block">
                            <input type="hidden" name="menuItemId" value="@item.Key" />

                            <label id="upload-label-@item.Key" class="btn btn-outline-secondary me-1" data-tooltip="Обновяване на снимка">
                                <i class="bi bi-image me-2"></i>Избери файл
                                <input type="file" name="imageFile" accept="image/*" hidden onchange="handleFileSelect(this, @item.Key)" />
                            </label>

                            <!-- Small spinner (initially hidden) -->
                            <div id="upload-spinner-@item.Key" class="btn btn-outline-secondary me-1 d-none spinner-container">
                                <i class="me-2 spinner-border spinner-border-sm"></i> Обновяване...
                            </div>

                        </form>

                        <button
                            type="button"
                            class="btn btn-outline-secondary btn-delete"
                            data-bs-toggle="modal"
                            data-bs-target="#deleteModal"
                            data-menu-item-id="@item.Key"
                            data-tooltip="Изтриване на категория">
                            <i class="bi bi-trash me-2"></i>Изтриване
                        </button>
                    </td>
                </tr>
            }
            </tbody>
        </table>

    </div>
</div>

<div class="modal fade" id="addMenuItemModal" tabindex="-1" aria-labelledby="addMenuItemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-area="Admin" asp-controller="MenuEditor" asp-action="AddMenuItem" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="addMenuItemModalLabel">Нова категория</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Затвори"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="CategoryName" class="form-label">Име на категория</label>
                        <input type="text" class="form-control" id="CategoryName" name="name" required />
                    </div>
                    <div class="mb-3">
                        <label for="position" class="form-label">Позиция в меню</label>
                        <input type="text" class="form-control" id="position" name="position" required />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Отказ</button>
                    <button type="submit" class="btn btn-success">Добави</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="renameModal" tabindex="-1" aria-labelledby="renameModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form method="post" asp-action="RenameMenuItem">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="renameModalLabel">Преименуване на категория</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Затвори"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" id="renameMenuItemId" />
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="oldMenuItemName" readonly disabled/>
                        <label for="oldMenuItemName">Текущо име</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="renameMenuItemName" name="name" required />
                        <label for="renameMenuItemName">Ново име</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Отказ</button>
                    <button type="submit" class="btn btn-success">Запази</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form method="post" asp-action="DeleteMenuItem">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Изтриване на категория</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Затвори"></button>
                </div>
                <div class="modal-body" style="color: darkred">
                    <input type="hidden" name="id" id="deleteMenuItemId" />
                    <p>
                        <strong>Внимание:</strong> Изтриването на категория от менюто е <u>необратимо действие</u>.
                    </p>
                    <p>
                        След потвърждение, категорията ще бъде <strong>завинаги премахната</strong> от менюто.
                    </p>
                    <p>
                        <strong>Свързаните групи и подгрупи няма да бъдат изтрити</strong>, но връзката им с тази категория ще бъде загубена.
                        Ако желаете да възстановите категорията в бъдеще, ще трябва ръчно да я създадете отново и да добавите съответните групи.
                    </p>
                    <p>
                        Освен това, категорията ще изчезне от публичното меню на сайта и няма да бъде достъпна за потребителите.
                    </p>
                    <p class="fw-bold">
                        Сигурни ли сте, че желаете да изтриете тази категория?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Отказ</button>
                    <button type="submit" class="btn btn-success">Изтрий</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script>
        const renameModal = document.getElementById('renameModal');
        renameModal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;
            const id = button.getAttribute('data-menu-item-id');
            const name = button.getAttribute('data-menu-item-name');

            renameModal.querySelector('#renameMenuItemId').value = id;
            renameModal.querySelector('#oldMenuItemName').value = name;
        });

        const deleteModal = document.getElementById('deleteModal');
        deleteModal.addEventListener('show.bs.modal', function (event){
            const button = event.relatedTarget;
            const id = button.getAttribute('data-menu-item-id');
            deleteModal.querySelector('#deleteMenuItemId').value = id;
        })
    </script>
    <script>
        function handleFileSelect(input, key) {
            const label = document.getElementById(`upload-label-${key}`);
            const spinner = document.getElementById(`upload-spinner-${key}`);

            if (label && spinner) {
                label.classList.add('d-none');
                spinner.classList.remove('d-none');
            }

            setTimeout(() => {
                input.form.submit();
            }, 2000); // 2 second delay
        }
    </script>

}
