@model EMatrix.ViewModels.MenuEditor.MenuAdminViewModel

<link rel="stylesheet" href="~/css/admin-panel-menu-customization.css" asp-append-version="true"/>

@{
    ViewData["ActiveTab"] = "Menu";
    ViewData["Title"] = "Редактор меню";
}
<div class="container mt-3">
    <!-- Tabs -->
    @await Html.PartialAsync("_AdminPanelTabsPartial")

    <div class="content-wrapper menu-index">
        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success">@TempData["Success"]</div>
        }

        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger">@TempData["Error"]</div>
        }

        <div class="menu-header">
            <h2 class="text-center">Съдържание на менюто</h2>
            <a href="#" class="btn btn-main me-1 btn-add"
               data-bs-toggle="modal"
               data-bs-target="#addMenuItemModal"
               data-tooltip="Създай нова категория">
                <i class="bi bi-bookmark-plus me-2"></i>Добави категория
            </a>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Категория</th>
                <th>Позиция</th>
                <th>Опции</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.MenuItems)
            {
                <tr>
                    <td>@item.Name</td>
                    <td class="text-center">@item.Position</td>
                    <td>
                        <button
                            type="button"
                            class="btn btn-main-outline me-1 btn-rename"
                            data-bs-toggle="modal"
                            data-bs-target="#renameModal"
                            data-menu-item-id="@item.Id"
                            data-menu-item-name="@item.Name"
                            data-menu-item-position="@item.Position"
                            data-tooltip="Редактиране име или позиция на категория">
                            <i class="bi bi-pencil me-2"></i>Промяна
                        </button>

                        <a href="@Url.Action("UpdateMenuItemCategories", new { menuItemId = item.Id })"
                           class="btn btn-main-outline me-1"
                           data-tooltip="Редактиране на елементи в категория">
                            <i class="bi bi-stack me-2"></i>Редакция
                        </a>

                        <button
                            type="button"
                            class="btn btn-main-outline me-1"
                            data-bs-toggle="modal"
                            data-bs-target="#uploadModal"
                            data-menu-item-id="@item.Id"
                            data-menu-item-name="@item.Name"
                            data-tooltip="Обновяване на снимка">
                            <i class="bi bi-image me-2"></i>Избери файл
                        </button>

                        <button
                            type="button"
                            class="btn btn-main-outline btn-delete"
                            data-bs-toggle="modal"
                            data-bs-target="#deleteModal"
                            data-menu-item-id="@item.Id"
                            data-tooltip="Изтриване на категория">
                            <i class="bi bi-trash me-2"></i>Изтриване
                        </button>
                    </td>
                </tr>
            }
            </tbody>
        </table>

    </div>
</div>

<div class="modal fade" id="addMenuItemModal" tabindex="-1" aria-labelledby="addMenuItemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-area="Admin" asp-controller="MenuEditor" asp-action="AddMenuItem" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="addMenuItemModalLabel">Нова категория</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Затвори"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="CategoryName" class="form-label">Име на категория</label>
                        <input type="text" class="form-control" id="CategoryName" name="name" required/>
                    </div>
                    <div class="mb-3">
                        <label for="position" class="form-label">Позиция в меню</label>
                        <input type="text" class="form-control" id="position" name="position" required/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Отказ</button>
                    <button type="submit" class="btn btn-success">Добави</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="renameModal" tabindex="-1" aria-labelledby="renameModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form method="post" asp-action="RenameMenuItem">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="renameModalLabel">Преименуване на категория</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Затвори"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" id="renameMenuItemId"/>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="oldMenuItemName" readonly disabled/>
                        <label for="oldMenuItemName">Текущо име</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="renameMenuItemName" name="name"/>
                        <label for="renameMenuItemName">Ново име</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="oldMenuItemPosition" readonly disabled/>
                        <label for="oldMenuItemName">Текущa позиция</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="newMenuItemPosition" name="position"/>
                        <label for="renameMenuItemName">Нова позиция</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Отказ</button>
                    <button type="submit" class="btn btn-success">Запази</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-action="UpdateCategoryImage" method="post" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadModalLabel">Обновяване на снимка</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Затвори"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="menuItemId" id="uploadMenuItemId"/>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="uploadModalName" readonly disabled/>
                        <label for="uploadModalName">Категория</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-select" id="uploadModalOptions" name="selectedOption">
                            <option value="">-- Избери подопция --</option>
                        </select>
                        <label for="uploadModalOptions">Подопции</label>
                    </div>
                    <input type="file" class="form-control" name="imageFile" accept="image/*" required/>
                </div>
                <fieldset class="border rounded p-3 m-3">
                    <legend class="float-none w-auto fs-6 px-2">Информация</legend>
                    <p class="mb-1 text-muted small">
                        За промяна на снимка на <strong>категория</strong>, изберете и прикачете снимка чрез бутона <em>„Choose File“</em>,
                        без да избирате подопция, и натиснете бутона <em>„Обнови снимка“</em>.
                    </p>
                    <p class="mb-1 text-muted small">
                        За да промените снимката на <strong>подопция</strong> към дадена опция, първо изберете подопцията от списъка, след това прикачете снимка и натиснете бутона <em>„Обнови снимка“</em>.
                        Ако подопцията няма собствена снимка, ще използва тази на съответната <strong>категория</strong>.
                    </p>
                    <p class="mb-0 text-muted small">
                        Приемат се само файлове с разширения: <strong>.jpg</strong>, <strong>.jpeg</strong> или <strong>.png</strong>.
                    </p>
                </fieldset>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Затвори</button>
                    <button type="submit" class="btn btn-success" id="upload-button">
                    <span id="upload-spinner" class="spinner-border spinner-border-sm me-2 d-none"
                          role="status" aria-hidden="true"></span>
                        Обнови снимка
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form method="post" asp-action="DeleteMenuItem">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Изтриване на категория</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Затвори"></button>
                </div>
                <div class="modal-body" style="color: darkred">
                    <input type="hidden" name="id" id="deleteMenuItemId"/>
                    <p>
                        <strong>Внимание:</strong> Изтриването на категория от менюто е <u>необратимо действие</u>.
                    </p>
                    <p>
                        След потвърждение, категорията ще бъде <strong>завинаги премахната</strong> от менюто.
                    </p>
                    <p>
                        <strong>Свързаните групи и подгрупи няма да бъдат изтрити</strong>, но връзката им с тази
                        категория ще бъде загубена.
                        Ако желаете да възстановите категорията в бъдеще, ще трябва ръчно да я създадете отново и да
                        добавите съответните групи.
                    </p>
                    <p>
                        Освен това, категорията ще изчезне от публичното меню на сайта и няма да бъде достъпна за
                        потребителите.
                    </p>
                    <p class="fw-bold">
                        Сигурни ли сте, че желаете да изтриете тази категория?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Отказ</button>
                    <button type="submit" class="btn btn-success">Изтрий</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script>
        const menuItems = @Html.Raw(Json.Serialize(Model.MenuItems));

        const renameModal = document.getElementById('renameModal');
        renameModal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;
            const id = button.getAttribute('data-menu-item-id');
            const name = button.getAttribute('data-menu-item-name');
            const position = button.getAttribute('data-menu-item-position');

            renameModal.querySelector('#renameMenuItemId').value = id;
            renameModal.querySelector('#oldMenuItemName').value = name;
            renameModal.querySelector('#oldMenuItemPosition').value = position;
        });

        const deleteModal = document.getElementById('deleteModal');
        deleteModal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;
            const id = button.getAttribute('data-menu-item-id');
            deleteModal.querySelector('#deleteMenuItemId').value = id;
        })

        const uploadModal = document.getElementById('uploadModal');
        uploadModal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;
            const id = button.getAttribute('data-menu-item-id');
            const name = button.getAttribute('data-menu-item-name');
            uploadModal.querySelector('#uploadMenuItemId').value = id;
            uploadModal.querySelector('#uploadModalName').value = name;

            const select = uploadModal.querySelector('#uploadModalOptions');
            select.innerHTML = '<option value="">-- Избери подопция --</option>'; // clear previous

            const menuItem = menuItems.find(m => m.id === id || m.id.toString() === id); // match by Id

            if (menuItem && menuItem.options) {
                menuItem.options.forEach(opt => {
                    const option = document.createElement('option');
                    option.value = opt.value;
                    option.textContent = opt.text;
                    select.appendChild(option);
                });
            }
        })

    </script>
}
