@using Microsoft.AspNetCore.Mvc.TagHelpers
@model EMatrix.ViewModels.MenuEditor.MenuItemAdminViewModel

<link rel="stylesheet" href="~/css/admin-panel-menu-customization.css" asp-append-version="true"/>

@{
    ViewData["ActiveTab"] = "Menu";
    ViewData["Title"] = "Редактор категория";
}

<div class="container mt-3">
    @await Html.PartialAsync("_AdminPanelTabsPartial")

    <div class="content-wrapper update-menu-item">
        <div class="update-item-header">
            <h2 class="mt-4">Редактиране на меню категория</h2>
            <hr/>
        </div>
        <form asp-action="UpdateMenuItemAssignments" method="post">
            <div class="update-item-body">
                <!-- Left Controls -->
                <div class="controls-section">

                    <input type="hidden" asp-for="Id"/>

                    <div class="form-floating mb-3">
                        <input asp-for="Name" class="form-control" placeholder="" readonly/>
                        <label asp-for="Name">Име на меню елемент</label>
                    </div>

                    <div class="form-floating mb-3">
                        <select class="form-select" id="categorySelect">
                            <option value="">-- Избери група --</option>
                            @foreach (var cat in Model.AvailableCategories)
                            {
                                <option value="@cat.Value">@cat.Value - @cat.Text</option>
                            }
                        </select>
                        <label for="categorySelect">Групи</label>
                    </div>

                    <div class="form-floating mb-3">
                        <select class="form-select" id="subcategorySelect">
                            <option value="">-- Избери подгрупа --</option>
                            @foreach (var sub in Model.AvailableSubCategories)
                            {
                                <option value="@sub.Value"
                                        data-cat="@sub.Value.Substring(0, 2)">@sub.Value - @sub.Text</option>
                            }
                        </select>
                        <label for="subcategorySelect">Подгрупи</label>
                    </div>

                    <hr/>

                    <div class="mb-3">
                        <label for="optionSelect" class="form-label">Опции</label>
                        <div class="input-group">
                            <select class="form-select" id="optionSelect">
                                <option value="">-- Избери опция --</option>
                                @for (int i = 0; i < Model.Options.Count; i++)
                                {
                                    <option value="@i">@Model.Options[i].Name</option>
                                }
                            </select>
                            <button type="button" class="btn btn-secondary" id="toggleOptionInputBtn"
                                    onclick="toggleAddOptionInput()" title="Добави опция">
                                <i class="bi bi-plus-square" id="toggleOptionIcon"></i>
                            </button>
                        </div>
                    </div>

                    <div class="mb-3 d-none" id="newOptionContainer">
                        <label for="newOptionInput" class="form-label">Име на нова опция</label>
                        <div class="input-group">
                            <input type="text" id="newOptionInput" class="form-control"
                                   placeholder="Име на нова опция"/>
                            <input type="text" id="newOptionOrder" class="form-control"
                                   placeholder="Позиция"/>
                            <button type="button" class="btn btn-success" id="saveOptionBtn" onclick="addMenuOption()">
                                Запази
                            </button>
                        </div>
                    </div>


                    <div class="form-group mb-3">
                        <button type="button" class="btn btn-secondary" onclick="addSubcategoryToSelectedOption()">
                            Добави подгрупа
                        </button>
                        <button type="button" class="btn btn-secondary" id="toggleOptionSetInputBtn" onclick="toggleAddOptionSetInput()">Добави
                            комплект
                        </button>
                    </div>
                    <div class="mb-3 d-none" id="newSetContainer">
                        <label for="newOptionInput" class="form-label">Име на комплект</label>
                        <div class="input-group">
                            <input type="text" id="newSetInput" class="form-control"
                                   placeholder="Име на комплект"/>
                            <button type="button" class="btn btn-success" id="saveSetBtn" onclick="addMenuOptionSet()">
                                Запази
                            </button>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success mt-3">Запази промените</button>

                </div>
                <!-- Right Preview -->
                <div class="preview-section">
                    <ul class="menu-list">
                        @if (!Model.Options.Any())
                        {
                            <p id="no-options" class="text-muted fst-italic">Няма добавени опции</p>
                        }
                        else
                        {
                            for (int i = 0; i < Model.Options.Count; i++)
                            {
                                var option = Model.Options[i];

                                <li>
                                    <details>
                                        <summary><strong>📁 @option.Name - @option.Order</strong></summary>
                                        <input type="hidden" asp-for="Options[i].Id"/>
                                        <input type="hidden" asp-for="Options[i].Name"/>
                                        <input type="hidden" asp-for="Options[i].Order"/>

                                        @if (option.Children != null && option.Children.Any())
                                        {
                                            <ul class="child-list">
                                                @for (int j = 0; j < option.Children.Count; j++)
                                                {
                                                    var child = option.Children[j];

                                                    @if (child.Type == "SubGroup")
                                                    {
                                                        <li class="list-group-item">
                                                            <span>📌 @child.DisplayName</span>
                                                            <input type="hidden" asp-for="Options[i].Children[j].Id"/>
                                                            <input type="hidden" asp-for="Options[i].Children[j].ReferenceId"/>
                                                            <input type="hidden" asp-for="Options[i].Children[j].DisplayName"/>
                                                            <input type="hidden" asp-for="Options[i].Children[j].Type"/>
                                                        </li>
                                                    }
                                                    else if (child.Type == "SubGroupSet" && child.SubGroupSetItems != null)
                                                    {
                                                        <details>
                                                            <summary>
                                                                <strong>📂 @child.DisplayName</strong>
                                                                <button type="button" class="btn btn-sm btn-outline-primary mt-2" onclick="addSubgroupToThisSet(this)">Добави в сета</button>
                                                            </summary>
                                                            <ul class="set-list">
                                                                @for (int k = 0; k < child.SubGroupSetItems.Count; k++)
                                                                {
                                                                    var setItem = child.SubGroupSetItems[k];

                                                                    <li>
                                                                        <span>🔹 @setItem.Alias</span>
                                                                        <input type="hidden"
                                                                               asp-for="Options[i].Children[j].SubGroupSetItems[k].Id"/>
                                                                        <input type="hidden"
                                                                               asp-for="Options[i].Children[j].SubGroupSetItems[k].Alias"/>
                                                                    </li>
                                                                }
                                                            </ul>
                                                        </details>
                                                    }
                                                }
                                            </ul>
                                        }
                                        else
                                        {
                                            <p id="no-option-children-@i" class="text-muted fst-italic">Няма добавени подопции</p>
                                        }
                                    </details>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/menu-item-update.js" asp-append-version="true"></script>
    <script>

        function removeOption(index) {
            alert('Премахване на опция ' + index);
        }

        function removeChild(optionIdx, refId) {
            alert(`Премахване на подгрупа ${refId} от опция ${optionIdx}`);
        }

        function removeSet(optionIdx, setName) {
            alert(`Премахване на комплект '${setName}' от опция ${optionIdx}`);
        }

        function removeSetItem(optionIdx, setName, itemId) {
            alert(`Премахване на елемент ${itemId} от комплект '${setName}' в опция ${optionIdx}`);
        }


    </script>
}
