@using Microsoft.AspNetCore.Mvc.TagHelpers
@model EMatrix.ViewModels.MenuEditor.MenuItemAdminViewModel

<link rel="stylesheet" href="~/css/admin-panel-menu-customization.css" asp-append-version="true"/>

@{
    ViewData["ActiveTab"] = "Menu";
    ViewData["Title"] = "Редактор категория";
}

<div class="container mt-3">
    @await Html.PartialAsync("_AdminPanelTabsPartial")

    <div class="content-wrapper update-menu-item">
        <div class="update-item-header">
            <h2 class="mt-4">Редактиране на меню елемент</h2>
            <hr/>
        </div>
        <form asp-action="UpdateMenuItemAssignments" method="post">
            <div class="update-item-body">
                <!-- Left Controls -->
                <div class="controls-section">

                    <input type="hidden" asp-for="Id"/>

                    <div class="form-floating mb-3">
                        <input asp-for="Name" class="form-control" placeholder="" readonly/>
                        <label asp-for="Name">Име на меню елемент</label>
                    </div>

                    <div class="form-floating mb-3">
                        <select class="form-select" id="categorySelect">
                            <option value="">-- Избери група --</option>
                            @foreach (var cat in Model.AvailableCategories)
                            {
                                <option value="@cat.Value">@cat.Value - @cat.Text</option>
                            }
                        </select>
                        <label for="categorySelect">Групи</label>
                    </div>

                    <div class="form-floating mb-3">
                        <select class="form-select" id="subcategorySelect">
                            <option value="">-- Избери подгрупа --</option>
                            @foreach (var sub in Model.AvailableSubCategories)
                            {
                                <option value="@sub.Value"
                                        data-cat="@sub.Value.Substring(0, 2)">@sub.Value - @sub.Text</option>
                            }
                        </select>
                        <label for="subcategorySelect">Подгрупи</label>
                    </div>

                    <hr/>

                    <div class="mb-3">
                        <label for="optionSelect" class="form-label">Опции</label>
                        <div class="input-group">
                            <select class="form-select" id="optionSelect">
                                <option value="">-- Избери опция --</option>
                                @for (int i = 0; i < Model.Options.Count; i++)
                                {
                                    <option value="@i">@Model.Options[i].Name</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="d-flex flex-column gap-1">
                        <details class="card shadow-sm border-0 mb-2" id="editOptionDetails">
                            <summary class="btn btn-main text-light d-flex align-items-center justify-content-between">
                                ✏️ Редактиране на опция
                                <i class="bi bi-pencil-square ms-2"></i>
                            </summary>
                            <div class="card-body">
                                <div class="d-flex flex-column gap-2 mt-2">
                                    <input type="text" id="editOptionInput" class="form-control" placeholder="Име на опцията"/>
                                    <div class="d-flex flex-row gap-2">
                                        <input type="number" id="editOptionOrder" class="form-control" placeholder="Позиция"/>
                                        <button type="button" class="btn btn-success" onclick="updateSelectedOption()">Запази</button>
                                    </div>
                                </div>
                            </div>
                        </details>

                        <details class="card shadow-sm border-0 mb-2">
                            <summary class="btn btn-main text-light d-flex align-items-center justify-content-between">
                                ➕ Добавяне на нова опция
                                <i class="bi bi-plus-square ms-2"></i>
                            </summary>
                            <div class="card-body">
                                <div class="d-flex flex-column gap-2 mt-2">
                                    <input type="text" id="newOptionInput" class="form-control" placeholder="Име на нова опция"/>
                                    <div class="d-flex flex-row gap-2">
                                        <input type="number" id="newOptionOrder" class="form-control" placeholder="Позиция"/>
                                        <button type="button" class="btn btn-success" onclick="addMenuOption()">Добави</button>
                                    </div>
                                </div>
                            </div>
                        </details>
                        <details id="optionSetDetails" class="card shadow-sm border-0 mb-2">
                            <summary class="btn btn-main text-light d-flex align-items-center justify-content-between" id="toggleOptionSetInputBtn">
                                ➕ Добавяне на нов комплект
                                <i class="bi bi-plus-square ms-2"></i>
                            </summary>
                            <div class="card-body">
                                <div class="d-flex flex-row gap-2">
                                    <input type="text" id="newSetInput" class="form-control" placeholder="Име на комплект"/>
                                    <button type="button" class="btn btn-success" id="saveSetBtn" onclick="addMenuOptionSet()">Добави</button>
                                </div>
                            </div>
                        </details>
                        <div class="d-flex flex-row justify-content-evenly">
                            <button type="button" data-tooltip="Добави подгрупа към опция" class="btn btn-main" onclick="addSubcategoryToSelectedOption()">
                                Добави подгрупа
                            </button>

                            <button type="submit" class="btn btn-success ms-auto">Запази промените</button>
                        </div>
                    </div>

                </div>
                <!-- Right Preview -->
                <div class="preview-section">
                    <ul class="menu-list">
                        @if (!Model.Options.Any())
                        {
                            <p id="no-options" class="text-muted fst-italic">Няма добавени опции</p>
                        }
                        else
                        {
                            for (int i = 0; i < Model.Options.Count; i++)
                            {
                                var option = Model.Options[i];

                                <li>
                                    <details>
                                        <summary>
                                            <strong>📁 @option.Name - @option.Order</strong>
                                            <button type="button" class="btn btn-outline-secondary btn-sm"
                                                    onclick="removeMenuOption(this)">X
                                            </button>
                                        </summary>
                                        <input type="hidden" asp-for="Options[i].Id"/>
                                        <input type="hidden" asp-for="Options[i].Name"/>
                                        <input type="hidden" asp-for="Options[i].Order"/>

                                        @if (option.Children != null && option.Children.Any())
                                        {
                                            <ul class="child-list">
                                                @for (int j = 0; j < option.Children.Count; j++)
                                                {
                                                    var child = option.Children[j];

                                                    @if (child.Type == "SubGroup")
                                                    {
                                                        <li class="list-group-item">
                                                            <span>
                                                                📌 @child.DisplayName
                                                                <button type="button"
                                                                        class="btn btn-outline-secondary btn-sm"
                                                                        onclick="removeMenuOptionSubgroup(this)">X</button>
                                                            </span>
                                                            <input type="hidden"
                                                                   asp-for="Options[i].Children[j].Id"/>
                                                            <input type="hidden"
                                                                   asp-for="Options[i].Children[j].ReferenceId"/>
                                                            <input type="hidden"
                                                                   asp-for="Options[i].Children[j].DisplayName"/>
                                                            <input type="hidden"
                                                                   asp-for="Options[i].Children[j].Type"/>
                                                        </li>
                                                    }
                                                    else if (child.Type == "SubGroupSet" && child.SubGroupSetItems != null)
                                                    {
                                                        <details>
                                                            <summary>
                                                                <strong>📂 @child.DisplayName</strong>
                                                                <div class="d-flex flex-row gap-2">
                                                                    <button type="button"
                                                                            class="btn btn-sm btn-main"
                                                                            onclick="addSubgroupToThisSet(this)">Добави подгрупа към комплект
                                                                    </button>
                                                                    <button type="button"
                                                                            class="btn btn-outline-secondary btn-sm"
                                                                            onclick="removeMenuOptionSet(this)">X
                                                                    </button>
                                                                </div>
                                                            </summary>
                                                            <ul class="set-list">
                                                                @for (int k = 0; k < child.SubGroupSetItems.Count; k++)
                                                                {
                                                                    var setItem = child.SubGroupSetItems[k];

                                                                    <li>
                                                                        <span>
                                                                            🔹 @setItem.Alias
                                                                            <button type="button"
                                                                                    class="btn btn-outline-secondary btn-sm"
                                                                                    onclick="removeMenuOptionSetSubgroup(this)">X</button>
                                                                        </span>
                                                                        <input type="hidden"
                                                                               asp-for="Options[i].Children[j].SubGroupSetItems[k].Id"/>
                                                                        <input type="hidden"
                                                                               asp-for="Options[i].Children[j].SubGroupSetItems[k].Alias"/>
                                                                    </li>
                                                                }
                                                            </ul>
                                                        </details>
                                                    }
                                                }
                                            </ul>
                                        }
                                        else
                                        {
                                            <p id="no-option-children-@i" class="text-muted fst-italic">Няма
                                                добавени подопции</p>
                                        }
                                    </details>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/menu-item-update.js" asp-append-version="true"></script>
    <script>
        const optionsData = @Html.Raw(Json.Serialize(Model.Options));
    </script>
}
