@using EMatrix.ViewModels.Products
@model EMatrix.ViewModels.Products.ProductsSecondaryViewModel

<link rel="stylesheet" href="~/css/products-result-customization.css" asp-append-version="true"/>

@{
    ViewData["Title"] = "Продукти";
}

<div class="container-fluid mt-3 products-container">
    <ul class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")">Начало</a></li>
        <span><i class="bi bi-chevron-right"></i></span>
        <li><a href="@Url.Action("Index", "Products")">Продукти</a></li>
        <span><i class="bi bi-chevron-right"></i></span>
        <li><a href="">@Model.Title</a></li>
    </ul>

    <div class="products-preview">
        <div class="products-header">
            <div class="search-bar">
                <input class="form-control" id="search" name="search" placeholder="Търси продукти.."/>
                <button type="submit" class="btn btn-main text-light">Търси</button>
            </div>
            <div class="grid-header">
                <button data-tooltip="Решетка" id="gridViewBtn" class="btn btn-outline-secondary">
                    <i class="bi bi-grid-3x3-gap"></i>
                </button>
                <button data-tooltip="Списък" id="listViewBtn" class="btn btn-outline-secondary">
                    <i class="bi bi-list"></i>
                </button>
                <a href="@Url.Action("Privacy", "Home")" id="help" class="btn btn-outline-secondary">
                    <i class="bi bi-question-circle"></i>
                    Помощ
                </a>
                <div class="cart-wrapper">
                    <div id="cart" class="dropdown">
                        <a class="dropdown-toggle cart-heading" href="#" aria-expanded="false">
                            <span id="cart-total">0 продукт(а) - 0.00лв.</span>
                            <div class="icon-wrapper">
                                <i class="bi bi-cart3"></i>
                                <span id="cart-items" class="count-badge count-zero">0</span>
                            </div>
                        </a>
                        <div id="cart-content" class="dropdown-menu cart-content j-dropdown">
                            <ul>
                                <li>
                                    <p class="text-center cart-empty">Вашата количка е празна!</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="products-body">
            @* LEFT: ACCORDION *@
            <div class="accordion" id="secondaryAccordion">
                @switch (Model.Mode)
                {
                    case SecondaryViewMode.MenuItem:
                        break;

                    case SecondaryViewMode.Category:
                        <h4>Категории продукти</h4>

                        var headingId = $"heading-category-mode";
                        var collapseId = $"collapse-category-mode";

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="@headingId">
                                <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#@collapseId" aria-expanded="false"
                                        aria-controls="@collapseId">
                                    @Model.Title
                                </button>
                            </h2>
                            <div id="@collapseId" class="accordion-collapse collapse show"
                                 aria-labelledby="@headingId" data-bs-parent="#secondaryAccordion">
                                <div class="accordion-body">
                                    <ul class="navbar-nav">
                                        @foreach (var entry in Model.SubGroups)
                                        {
                                            <li class="nav-item">
                                                <a class="nav-link" asp-area="" asp-controller="Products"
                                                   asp-action="GetSecondaryViewBySubGroupId"
                                                   asp-route-id="@entry.Id">
                                                    @entry.Name
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                        break;

                    case SecondaryViewMode.SubCategory:
                        break;

                    case SecondaryViewMode.Set:
                        break;
                }
            </div>

            @* RIGHT: PREVIEW GRID (or List) *@
            <div class="menu-as-grid grid-view" id="secondaryPreview">
                @switch (Model.Mode)
                {
                    case SecondaryViewMode.MenuItem:
                        break;

                    case SecondaryViewMode.Category:

                        break;

                    case SecondaryViewMode.SubCategory:
                        break;

                    case SecondaryViewMode.Set:
                            break;
                }
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const menuView = document.getElementById("secondaryPreview");
            const gridViewBtn = document.getElementById("gridViewBtn");
            const listViewBtn = document.getElementById("listViewBtn");

            gridViewBtn.addEventListener("click", function () {
                menuView.classList.add("menu-as-grid");
                menuView.classList.remove("menu-as-list");
            });

            listViewBtn.addEventListener("click", function () {
                menuView.classList.add("menu-as-list");
                menuView.classList.remove("menu-as-grid");
            });
        });
    </script>

}
