@model EMatrix.ViewModels.Products.ProductDetailsViewModel

<link rel="stylesheet" href="~/css/products-preview-customization.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/css/products-accordion-customization.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/css/products-cart-customization.css" asp-append-version="true"/>


@{
    ViewData["Title"] = Model.Name;
}

<div class="container-fluid mt-3 products-container">
    @switch (Model.Accordion.Type)
    {
        case "MenuItem":
            <ul class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Начало</a></li>
                <span><i class="bi bi-chevron-right"></i></span>
                <li><a href="@Url.Action("ProductsPrimaryView", "Products")">Продукти</a></li>
            </ul>
            break;
        case "Option":
            <ul class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Начало</a></li>
                <span><i class="bi bi-chevron-right"></i></span>
                <li><a href="@Url.Action("ProductsPrimaryView", "Products")">Продукти</a></li>
                <span><i class="bi bi-chevron-right"></i></span>
                <li>
                    <a href="@Url.Action("ProductsPrimaryView", "Products", new { id = Model.ProductMenuOption.Id, type = "Option" })">
                        @Model.ProductMenuOption.Name
                    </a>
                </li>
                <span><i class="bi bi-chevron-right"></i></span>
                <li>
                    <a href="@Url.Action("ProductsSecondaryView", "Products", new { id = Model.ProductMenuOptionChild.SubGroupId, childId = Model.ProductMenuOptionChild.Id, optionId = Model.ProductMenuOption.Id })">
                        @Model.ProductMenuOptionChild.Name
                    </a>
                </li>
                <span><i class="bi bi-chevron-right"></i></span>
                <li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
            </ul>
            break;
    }

    <div class="products-preview">
        <div class="products-accordion-col">
            @await Html.PartialAsync("_AccordionPartial", Model.Accordion)
        </div>
        <div class="products-content-col">
            <div class="products-content-header">
                <div class="helper-buttons">
                    <a href="@Url.Action("Privacy", "Home")" id="help" class="btn btn-outline-secondary">
                        <i class="bi bi-question-circle"></i>
                        Помощ
                    </a>
                </div>
                <div class="cart-wrapper">
                    <div id="cart" class="dropdown">
                        <a class="dropdown-toggle cart-heading" href="#" aria-expanded="false">
                            <span id="cart-total">0 продукт(а) - 0.00лв.</span>
                            <div class="icon-wrapper">
                                <i class="bi bi-cart3"></i>
                                <span id="cart-items" class="count-badge count-zero">0</span>
                            </div>
                        </a>
                        <div id="cart-content" class="dropdown-menu cart-content j-dropdown">
                            <div class="cart-content-header">
                                <div class="cart-header-item">Артикул</div>
                                <div class="cart-header-qty">Количество</div>
                                <div class="cart-header-price">Цена</div>
                            </div>
                            <ul id="cart-list">
                                <li>
                                    <p class="text-center cart-empty">Вашата количка е празна!</p>
                                </li>
                            </ul>
                            <div class="cart-content-footer">
                                Общо: <span id="cart-footer-total">0.00 лв.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="products-content-body">
                <div class="product-details-card mb-4">
                    <div class="details-card-left">
                        <img src="@Url.Content(Model.Icon ?? "~/img/placeholder.png")"
                             alt="Icon for @Model.Name"
                             class="details-card-image"/>
                    </div>
                    <div class="details-card-right">
                        <div class="details-card-header">
                            <div class="d-flex flex-column">
                                <h3 class="product-title">@Model.Name</h3>
                                <p class="product-code text-muted">Код: @Model.Id</p>
                                @if (!Model.Availability)
                                {
                                    <p class="text-danger">
                                            Посочената цена подлежи на потвърждение спрямо текущите условия на
                                            доставчика. За актуална информация и поръчка, моля направете запитване.
                                    </p>
                                }
                            </div>
                            <p class="product-price">@Model.Price.ToString("0.00") лв.</p>
                        </div>
                        @if (Model.ProductMenuOption.Name != null && Model.ProductMenuOptionChild.Name != null)
                        {
                            <div class="product-categories">
                                <p class="text-muted m-0">Категории:</p>
                                <a href="@Url.Action("ProductsPrimaryView", "Products", new { id = Model.ProductMenuOption.Id, type = "Option" })">
                                    @Model.ProductMenuOption.Name
                                </a>
                                <a href="@Url.Action("ProductsSecondaryView", "Products", new { id = Model.ProductMenuOptionChild.SubGroupId, childId = Model.ProductMenuOptionChild.Id, optionId = Model.ProductMenuOption.Id })">
                                    @Model.ProductMenuOptionChild.Name
                                </a>
                            </div>
                        }

                        @if (Model.Availability)
                        {
                            <p class="text-success">Налично</p>
                        }
                        else
                        {
                            <p class="text-danger">Изчерпано</p>
                        }

                        <dl class="row small product-specs">
                            @foreach (var item in Model.Description)
                            {
                                <dt class="col-sm-4">@item.Key</dt>
                                <dd class="col-sm-8">@item.Value</dd>
                            }
                        </dl>

                        @if (Model.Availability)
                        {
                            <button class="btn btn-main btn-sm text-nowrap"
                                    onclick="addProductToCartFromDetails(this)">Добави в количка
                            </button>
                        }
                        else
                        {
                            <a class="btn btn-main btn-sm text-nowrap" href="#">Запитване</a>
                        }
                    </div>
                </div>
                <h3 class="text-center similar-products-title">Подобни продукти</h3>
                <hr class="mt-1"/>
                <div class="similar-products">
                    @if (Model.SimilarProducts.Any())
                    {
                        @foreach (var item in Model.SimilarProducts)
                        {
                            <div class="product-card">
                                <p class="product-code"><span>Код: </span>@item.Id</p>
                                <img class="product-image" src="@Url.Content(item.Icon)" alt="icon"/>
                                <div class="product-content">
                                    <div class="product-content-header">
                                        <p class="product-title">@item.NameAlias</p>
                                        <p class="text-muted product-subcategory">@item.SubCategory</p>
                                    </div>

                                    <div class="product-content-body">
                                        <p class="product-price align-content-center">
                                            <span>Цена: </span>@item.Price.ToString("F2", new System.Globalization.CultureInfo("bg-BG")) лв.
                                        </p>
                                        @if (item.Availability)
                                        {
                                            <p class="text-success">Налично</p>
                                        }
                                        else
                                        {
                                            <p class="text-danger">Изчерпано</p>
                                        }
                                    </div>

                                    <div class="product-content-footer">
                                        <a asp-action="ProductDetails" asp-route-id="@item.Id"
                                           asp-route-type="@Model.Accordion.Type"
                                           class="btn btn-main btn-sm text-nowrap">Преглед</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="no-products-found">
                            <h3>Няма подобни продукти</h3>
                            <p>Към момента не откриваме други артикули със сходни характеристики.</p>
                            <p>Разгледайте останалите продукти в същата категория или се свържете с нас за
                                съдействие.</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/cart-render-and-update.js" asp-append-version="true"></script>
}
