@model EMatrix.ViewModels.Products.ProductsPrimaryViewModel

<link rel="stylesheet" href="~/css/products-preview-customization.css" asp-append-version="true"/>

@{
    ViewData["Title"] = "Продукти";
}

<div class="container-fluid mt-3 products-container">
    @if (Model.Accordion.Type == "MenuItem")
    {
        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")">Начало</a></li>
            <span><i class="bi bi-chevron-right"></i></span>
            <li><a href="@Url.Action("ProductsPrimaryView", "Products")">Продукти</a></li>
        </ul>
    }
    else if (Model.Accordion.Type == "Option")
    {
        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")">Начало</a></li>
            <span><i class="bi bi-chevron-right"></i></span>
            <li><a href="@Url.Action("ProductsPrimaryView", "Products")">Продукти</a></li>
            <span><i class="bi bi-chevron-right"></i></span>
            <li class="breadcrumb-item active" aria-current="page">@Model.Accordion.Options.First().Name</li>
        </ul>

    }
    <div class="products-preview">
        <div class="products-header">
            <div class="search-bar">
                <input class="form-control" id="search" name="search" placeholder="Търси продукти.."/>
                <button type="submit" class="btn btn-main text-light">Търси</button>
            </div>
            <div class="grid-header">
                <button data-tooltip="Решетка" id="gridViewBtn" class="btn btn-outline-secondary">
                    <i class="bi bi-grid-3x3-gap"></i>
                </button>
                <button data-tooltip="Списък" id="listViewBtn" class="btn btn-outline-secondary">
                    <i class="bi bi-list"></i>
                </button>
                <a href="@Url.Action("Privacy", "Home")" id="help" class="btn btn-outline-secondary">
                    <i class="bi bi-question-circle"></i>
                    Помощ
                </a>
                <div class="cart-wrapper">
                    <div id="cart" class="dropdown">
                        <a class="dropdown-toggle cart-heading" href="#" aria-expanded="false">
                            <span id="cart-total">0 продукт(а) - 0.00лв.</span>
                            <div class="icon-wrapper">
                                <i class="bi bi-cart3"></i>
                                <span id="cart-items" class="count-badge count-zero">0</span>
                            </div>
                        </a>
                        <div id="cart-content" class="dropdown-menu cart-content j-dropdown">
                            <ul>
                                <li>
                                    <p class="text-center cart-empty">Вашата количка е празна!</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-body">
            @await Html.PartialAsync("_AccordionPartial", Model.Accordion)
            <div id="menuView" class="menu-as-grid grid-view">
                @foreach (var cat in Model.MenuPreview.Options)
                {
                    <div id="card-@(cat.Id)" class="menu-card" onclick="toggleListView('@cat.Id')">
                        <img src="@Url.Content(cat.Icon)" alt="icon"/>
                        <div class="menu-content">
                            <p class="menu-title">@cat.Name</p>
                            <ul class="menu-preview-items">
                                @foreach (var item in cat.Children)
                                {
                                    <li class="nav-item">
                                        @if (Model.MenuPreview.Type == "MenuItem")
                                        {
                                            <a class="nav-link" asp-controller="Products"
                                               asp-action="ProductsPrimaryView"
                                               asp-route-id="@item.Key"
                                               asp-route-type="Option">
                                                @item.Value
                                            </a>
                                        }
                                        else if (Model.MenuPreview.Type == "Option")
                                        {
                                            <a class="nav-link" asp-controller="Products"
                                               asp-action="ProductsSecondaryView"
                                               asp-route-id="@item.Key"
                                               asp-route-childId="@cat.Id"
                                               asp-route-optionId="@Model.MenuPreview.Id">
                                                @item.Value
                                            </a>
                                        }
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const menuView = document.getElementById("menuView");
            const gridViewBtn = document.getElementById("gridViewBtn");
            const listViewBtn = document.getElementById("listViewBtn");

            gridViewBtn.addEventListener("click", function () {
                menuView.classList.add("menu-as-grid");
                menuView.classList.remove("menu-as-list");
            });

            listViewBtn.addEventListener("click", function () {
                menuView.classList.add("menu-as-list");
                menuView.classList.remove("menu-as-grid");
            });
        });

        function toggleListView(id){
            const menuView = document.getElementById("menuView");
            menuView.classList.add("menu-as-list");
            menuView.classList.remove("menu-as-grid");
            const element = document.getElementById(`card-${id}`);
            element.scrollIntoView({ behavior: "smooth", block: "center", inline: "nearest" });
        }
    </script>

}
