@model EMatrix.ViewModels.Products.ProductsPrimaryViewModel

<link rel="stylesheet" href="~/css/products-preview-customization.css" asp-append-version="true"/>

@{
    ViewData["Title"] = "Продукти";
}

<div class="container-fluid mt-3 products-container">
    <ul class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")">Начало</a></li>
        <span><i class="bi bi-chevron-right"></i></span>
        <li><a href="@Url.Action("ProductsPrimaryView", "Products")">Продукти</a></li>
    </ul>
    <div class="products-preview">
        <div class="products-header">
            <div class="search-bar">
                <input class="form-control" id="search" name="search" placeholder="Търси продукти.."/>
                <button type="submit" class="btn btn-main text-light">Търси</button>
            </div>
            <div class="grid-header">
                <button data-tooltip="Решетка" id="gridViewBtn" class="btn btn-outline-secondary">
                    <i class="bi bi-grid-3x3-gap"></i>
                </button>
                <button data-tooltip="Списък" id="listViewBtn" class="btn btn-outline-secondary">
                    <i class="bi bi-list"></i>
                </button>
                <a href="@Url.Action("Privacy", "Home")" id="help" class="btn btn-outline-secondary">
                    <i class="bi bi-question-circle"></i>
                    Помощ
                </a>
                <div class="cart-wrapper">
                    <div id="cart" class="dropdown">
                        <a class="dropdown-toggle cart-heading" href="#" aria-expanded="false">
                            <span id="cart-total">0 продукт(а) - 0.00лв.</span>
                            <div class="icon-wrapper">
                                <i class="bi bi-cart3"></i>
                                <span id="cart-items" class="count-badge count-zero">0</span>
                            </div>
                        </a>
                        <div id="cart-content" class="dropdown-menu cart-content j-dropdown">
                            <ul>
                                <li>
                                    <p class="text-center cart-empty">Вашата количка е празна!</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-body">
            @await Html.PartialAsync("_AccordionPartial", Model.Accordion)
            <div id="menuView" class="menu-as-grid grid-view">
                @foreach (var cat in Model.MenuItemsGrid)
                {
                    <div class="menu-card" onclick="location.href='@Url.Action("ProductsSecondaryView", new { menuItemId = cat.Id })'">
                        <img src="@Url.Content(cat.Icon)" alt="icon"/>
                        <div class="menu-content">
                            <p class="menu-title">@cat.Name</p>
                            <ul class="menu-preview-items">
                                @foreach (var item in cat.Options)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Products"
                                           asp-action="ProductsSecondaryView"
                                           asp-route-optionId="@item.Key">
                                            @item.Value
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const menuView = document.getElementById("menuView");
            const gridViewBtn = document.getElementById("gridViewBtn");
            const listViewBtn = document.getElementById("listViewBtn");

            gridViewBtn.addEventListener("click", function () {
                menuView.classList.add("menu-as-grid");
                menuView.classList.remove("menu-as-list");
            });

            listViewBtn.addEventListener("click", function () {
                menuView.classList.add("menu-as-list");
                menuView.classList.remove("menu-as-grid");
            });
        });
    </script>

}
